DATABASE_URL=postgresql://postgres.zixisetlneendmgsfhwq:Vivekyadav389@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

SUPABASE_URL=https://zixisetlneendmgsfhwq.supabase.co

SUPABASE_ANON_KEY=sb_publishable_YgIdfjQ165SDOcHao5czaQ_7VA2p6pl
